<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header id="main-menu">
      <!-- TOP MENU -->

      <div id="top-menu" class="ui inverted menu">
        <div class="item">
          <a href="#">
            <img src="http://placehold.it/20x20" alt="logo" style="vertical-align: middle">
            <span style="padding-left: 10px;">Direktori Podcast Indonesia</span>
          </a>
        </div>
        <div class="right menu">
          <div class="item">
            <a href="#">
              About
            </a>
          </div>
        </div>
      </div>



      <!-- END TOP MENU -->

    </header>





    <div class="main-container" role="main">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->

    <footer class="ui inverted black footer vertical segment">
      <div class="footer-container">
        <div class="ui stackable inverted divided relaxed grid">
          <div class="ten wide column">
          Amet natus odio praesentium totam ullam repellat?
          </div>
          <div class="six wide column">
            <h5 class="ui teal inverted header">Follow Us</h5>
            Icons
          </div>
        </div>
      </div>
    </footer>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
